<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/todo_style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
</head>

<body>
    <header class="navbar">
        <span id="logo">
            <a href="/todo">My ToDo</a>
        </span>
        <span id="navlinks">
            <span id="navlink1">
                <a href="/todo">All Tasks</a>
            </span>
            <span id="navlink2">
                <a href="/todo/createtask">New Task</a>
            </span>
        </span>
        <span id="pinfo">
            Abhishek
        </span>
    </header>
    <section class="ctask" id="sds">
        <div>
            <span class="info">Task ID: </span><span id="edid"><%= task.taskId %></span>
        </div>
        <div>
            <span class="info">Task: </span><span><%= task.task %></span>
        </div>
        <div>
            <span class="info">Task Status: </span><span><%= task.taskStatus %></span>
        </div>
        <div>
            <span class="info">Task Creation Date: </span><span><%= task.taskCreationDate %></span>
        </div>
        <div>
            <span class="info">Task Last Modified Date: </span><span><%= task.taskLastModified %></span>
        </div>
        <div id="edb">
            <!-- <a href="/todo/<%= task.taskId %>/edit">Edit Task</a> -->
            Edit Task
        </div>
        
    </section>
   <!--
       <table border="1">
        <tr>
            <th>Task ID</th>
            <th>Task</th>
            <th>Task Creation Date</th>
            <th>Task Last Modified Date</th>
            <th>Task Completion Date</th>
            <th>Edit</th>
        </tr>
        <tr>
            <td><%= task.taskId %></td>
            <td><%= task.task %></td>
            <td><%= task.taskCreationDate %></td>
            <td><%= task.taskLastModified %></td>
            <td><a href="/todo/<%= task.taskId %>/edit">Edit Task</a></td>
        </tr>
    </table>
   --> 
   <script src="/scripts/todo_scripts.js"></script>
</body>

</html>